{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-40">
            <div class="col-7 col-md-7 my-auto my-overlay">
                <h1 class="display-4 text-white">
                    Get noticed
                </h1>
                <h1 class="display-3 text-white">
                    Be Remembered
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Place Order Now</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}