<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="site-owner-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="site-owner-link">
                <a href="" class="dropdown-item">About</a>
                <a href="" class="dropdown-item">Showcase</a>
                <a href="" class="dropdown-item ">History</a>
                <a href="" class="dropdown-item ">Testimonials</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=price" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?category=rating" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?category=category" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="digital-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Digital
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="digital-link">
                <a href="{% url 'products' %}?category=icon_sets" class="dropdown-item">Icon Sets</a>
                <a href="{% url 'products' %}?category=brand_logos" class="dropdown-item">Brand Logos</a>
                <a href="{% url 'products' %}?category=web_banners" class="dropdown-item">Web Banners</a>
                <a href="{% url 'products' %}?category=icon_sets,brand_logos,web_banners" class="dropdown-item">All Digital-Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="printables-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Printables
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="printables-link">
                <a href="{% url 'products' %}?category=business_cards" class="dropdown-item">Business Cards</a>
                <a href="{% url 'products' %}?category=leaflets_flyers" class="dropdown-item">Leaflets &amp; Flyers</a>
                <a href="{% url 'products' %}?category=posters" class="dropdown-item">Posters</a>
                <a href="{% url 'products' %}?category=business_cards,leaflets_flyers,posters" class="dropdown-item">All Printables</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_stock" class="dropdown-item">New Stock</a>
                <a href="{% url 'products' %}?category=sale_items" class="dropdown-item">Sale Items</a>
                <a href="{% url 'products' %}?category=new_stock,sale_items" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>