{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <h2 class="logo-font">Product Details</h2>
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
                {% if product.category.pk < 3 %}
                <div class="border-black text-black logo-font text-center my-4 py-0">
                    <p class="custNote my-2"><strong>priced at 100 items per pack</strong></p>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-2 logo-font">{% if product.is_print_media %} Print Media > {% else %} Digital Media > {% endif %} {{ product.name }}</p>
                <p class="lead mb-2 text-left font-weight-bold">£{{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-3 mb-2">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}

                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <div class="col-12 p-0">
                                {% with product.is_print_media as p %}
                                    {% if p %}
                                        {% if product.category.name == "business_cards" %}
                                            <p class="mt-3"><strong>Size:</strong></p>
                                            <select class="form-control border-black rounded-0 w-50" name="product_size" id="id_product_size">
                                                <option value="pm1">3.5 x 2 inches</option>
                                                <option value="pm2">2 x 3.5 inches</option>
                                            </select>
                                        {% elif product.category.name == "leaflets_flyers" %}
                                            <p class="mt-3"><strong>Size:</strong></p>
                                            <select class="form-control border-black rounded-0 w-50" name="product_size" id="id_product_size">
                                                <option value="pm3">11 x 8.5 inches</option>
                                                <option value="pm4">8.3 x 5.8 inches</option>
                                                <option value="pm5">5.8 x 4.1 inches</option>
                                                <option value="pm6">8.3 x 3.9 inches</option>
                                            </select>
                                        {% else %}
                                            <p class="mt-3"><strong>Size:</strong></p>
                                            <select class="form-control border-black rounded-0 w-50" name="product_size" id="id_product_size">
                                                <option value="pm_A1">A1 - 33.1 x 23.4 inches</option>
                                                <option value="pm_A2">A2 - 23.4 x 16.5 inches</option>
                                                <option value="pm_A3">A3 - 16.5 x 11.7 inches</option>
                                                <option value="pm_A4">A4 - 11.7 x 8.3 inches</option>
                                            </select>
                                        {% endif %}
                                    {% else %}
                                        {% if product.category.name == "icon_sets" %}
                                            <p class="mt-3"><strong>Size:</strong></p>
                                            <select class="form-control border-black rounded-0 w-50" name="product_size" id="id_product_size">
                                                <option value="dm1">16 x 16 pixels</option>
                                                <option value="dm2">32 x 32 pixels</option>
                                                <option value="dm3">64 x 64 pixels</option>
                                                <option value="dm4">128 x 128 pixels</option>
                                                <option value="dm5">256 x 256 pixels</option>
                                            </select>
                                            {% elif product.category.name == "brand_logos" %}
                                                <p class="mt-3"><strong>Size:</strong></p>
                                                <input type="number" class="py-3 mr-3" min="100" max="800" step="100" id="x_range" value="100">  X                                                  
                                                <input type="number" class="py-3 mx-3" min="100" max="800" step="100" id="y_range" value="100"> Pixels                                                  
                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            </div>
                            <div class="col-6 p-0">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group">
                                <div class="input-group mt-3">
                                    <!-- check if category is 1 or 2 and notify shopper of ordering amount options 100,200,etc.  else its 1-->
                                    {% if product.category.pk < 4 %}
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input border-black" type="number" name="quantity"
                                        value="1" min="1" max="10" data-item_id="{{ product.id }}"
                                        id="id_qty_{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded-0"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    {% else %}
                                    <input class="border-black py-1 px-3" type="text" name="quantity" value="1"
                                        data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-2">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-2" value="Add to Bag">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">

    $(document).ready(function () {
        customer_note = $(".custNote");
        customer_note.hide(2000).show(1500);
    });

    // $(document).ready(function(){
    //     $('#ex6').on('change', function(e){
    //         var id = e.target.value;            
    //         document.getElementById("#id_product_size").innerHTML = id;
    //     });
    //     $('#ex6').change();
    // });

    var slider = document.getElementById("x_range");
    var output = document.getElementById("x_range_input");
    output.innerHTML = slider.value;

    slider.oninput = function() {
        output.innerHTML = this.value;
    }

</script>

{% endblock %}